//====================================================================================================
.main {
    height: 650px;
    position: relative;
    @media (max-width: 576px) {
        height: calc(100vh - 55px);
    }
    @media (max-height: 625px) {
        height: auto;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__container {
        position: relative;
        height: 100%;
    }

    &__body {
        padding-top: 113px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 576px) {
            padding-top: 60px;
            gap: 24px;
        }
    }

    &__info {
        text-align: center;
    }

    &__title {
        max-width: 490px;
        margin-bottom: 24px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 24px;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        width: 850px;
        @media (max-width: 850px) {
            width: 100%;
        }
        &__header {
            flex: 0 0 100%;
        }
    
        &__button {
            display: inline-flex;
            align-items: center;
            gap: 19px;
            background: #F9A545;
            border-radius: 10px 10px 0 0;
            padding: 14px 24px 14px 16px;
            width: 250px;
            @media (max-width: 400px) {
                width: 100%;
            }
        }
    
        &__button-img {
        }
    
        &__button-title {
        }
    
        &__body {
            padding: 44px 16px 26px;
            width: 100%;
            background: linear-gradient(0deg, #FCFCFC, #FCFCFC), #000033;
            display: grid;
            grid-template-areas:
                "A B"
                "C D";
            gap: 10px 7px;
            @media (max-width: 576px) {
                grid-template-areas:
                                    "A"
                                    "B"
                                    "C"
                                    "D";
                padding: 16px;
            }
        }
    
        &__input-body {
            border: 2px solid #AAAAAA;
            border-radius: 5px;
            padding: 8px 16px;
        }
    
        &__title {
            margin-bottom: 4px;
            font-size: 12px;
            color: #828282;
        }
    
        &__input {
            width: 100%;
            &::placeholder{
                color: #4F4F4F;
                font-size: 16px;
            }
            &:focus-visible{
                outline: none;
            }
        }
    
        &__submit {
        }
    }
}

.subinfo {
    position: relative;
    padding: 72px 0 97px;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #040813;
    }
    &__container {
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 66px;
        position: relative;
        z-index: 5;
        @media (max-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &:last-child {
            @media (max-width: $mobile) {
                grid-column: 1 / 3;
            }
            @media (max-width: 576px) {
                grid-column: unset;
            }
        }
    }

    &__img {
        height: 69px;
        width: 69px;
        margin-bottom: 27px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__text {
        line-height: 137%;
    }
}

.tour {
    padding: 72px 0 92px;
    &__container {
    }

    &__body {
    }

    &__title {
        color: #040813;
        max-width: 500px;
        text-align: center;
        margin: 0 auto 80px auto;
    }

    .tabs {

        &__navigation {
            display: flex;
            align-items: center;
            margin-bottom: 71px;
            background: #F3F6F8;
            color: #040813;
        }
    
        &__title {
            font-weight: 700;
            font-size: 14px;
            padding: 18px 13px 22px;
            &._tab-active{
                border-bottom: 1px solid #040813;
            }
        }
    
        &__nav-img {
            width: 75px;
            height: 46px;
            margin: 0 auto 21px auto;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    
        &__content {
        }
    
        &__inner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            @media (max-width: $tablet) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 576px) {
                padding: 0 20px;
                grid-template-columns: 1fr;
            }
        }
    
        &__item {
            padding: 26px;
            position: relative;
            height: 415px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            &::before{
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 5;
                background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 6, 22, 0.66) 100%);
            }
        }
    
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    
        &__price {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 12px 17px;
            background: #040813;
            box-shadow: 2px 4px 6px rgb(0 0 0 / 25%);
            border-radius: 5px;
            font-weight: 700;
            font-size: 18px;
            position: absolute;
            top: 0;
            left: -15px;
        }
    
        &__title-item {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 20px;
            position: relative;
            z-index: 10;
        }

        &__subtitle {
            font-weight: 500;
            position: relative;
            z-index: 10;
        }
    }
}

.callback {
    height: 615px;
    position: relative;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        &:before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 6, 22, 0.32);
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__form{
        width: 100%;
    }

    &__container {
        height: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__info {
        text-align: center;
    }

    &__title {
        max-width: 500px;
        margin-bottom: 36px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 27px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 495px;
        gap: 27px;
        margin:0 auto 47px auto;
        @media (max-width: 576px) {
            width: 100%;
        }
        &__input {
            background: #FFFFFF;
            border-radius: 5px;
            padding: 23px;
            @media (max-width: $mobile) {
                padding: 16px;
            }
        }
    
        &__submit {
        }
    }
    .social {
        display: flex;
        align-items: center;
        gap: 30px;
        &__item {
            height: 26px;
            width: 26px;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.bottom-nav {
    position: relative;
    &::before {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000000;
        z-index: -1;
    }
    &__container {
    }

    &__body {
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
            padding: 16px 0;
        }
    }

    &__logo {
        @include adaptiveValue('width', 200, 140, 768, 576, 1);
        @include adaptiveValue('height', 80, 55, 768, 576, 1);
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__list {
        display: flex;
        gap: 167px;
        @include adaptiveValue('gap', 167, 50, 1366, 992, 1);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
    }

    &__link {
    }
}

.search-car {
    padding: 72px 0 97px;
    color: #040813;

    span {
        font-weight: 700; 
    }

    &__container {
    }

    &__body {
    }

    &__info-road {
        color: #040813;
        text-align: center;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 44px;
    }

    &__route-length {
        margin-bottom: 5px;
    }

    &__duration {
    }

    &__drivers {
    }
}

.drivers {

    &__select-body {
        max-width: 1085px;
        margin: 0 auto 95px auto;
    }

    &__select {
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include adaptiveValue("gap",30 ,12, 992, 768,1 );
        @media (max-width: 576px) {
            grid-template-columns: 100%;
        }
    }

    &__item {
        background: #F3F6F8;
        color: #040813;
        @include adaptiveValue("padding", 32 , 16, 1366, 992, 1 );
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            gap: 18px;
        }
    }

    &__info-driver {
        display: grid;
        grid-template-areas:
            "A B"
            "A C";
        column-gap: 28px;
        align-items: center;
        @include adaptiveValue("column-gap",28 ,18, 1366, 1024,1 );

    }

    &__img-driver {
        @include adaptiveValue("height",97 ,60, 1366, 1024,1 );
        @include adaptiveValue("width",97 ,60, 1366, 1024,1 );
        grid-area: A;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__img {
        @include adaptiveValue("height",264 ,180, 1366, 1024,1 );
        @include adaptiveValue("width",264 ,180, 1366, 1024,1 );
        @media (max-width: $tablet) {
            width: 100%;
            height: 320px;
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("height",320 ,250, 768, 576,1 );
        }
        @media (max-width: 576px) {
            width: 100%;
            @include adaptiveValue("height",400 ,258, 576, 320,1 );
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            @media (max-width: 576px) {
                object-fit: cover;
            }
        }
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size",24 ,18, 1366, 1024,1 );
    }

    &__rating {
    }

    &__type-car {
        font-weight: 700;
        @include adaptiveValue("font-size",18 ,16, 1366, 1024,1 );
        @media (max-width: $mobile) {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 12px;
            flex: 0 0 100%;
        }
    }

    &__type-car-img {
        @include adaptiveValue("width",90 ,50, 1366, 1024,1 );
        @include adaptiveValue("height",35 ,25, 1366, 1024,1 );
        @include adaptiveValue("margin-bottom",12 ,8, 1366, 1024,1 );
        margin: 0 auto 12px auto;
        @media (max-width: 1024px) {
            @include adaptiveValue("width",50 ,30, 1024, 768,1 );
            @include adaptiveValue("height",25 ,20, 1024, 768,1 );
        }
        @media (max-width: $mobile) {
            margin: 0;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__body {
    }

    &__lang-body {
        display: flex;
        gap: 5px;
        @include adaptiveValue("margin-bottom",32 ,18, 1366, 1024,1 );
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            span {
                flex: 0 0 100%;
            }
        }
    }
    

    &__lang-list {
        display: flex;
    }

    &__lang-list-item {
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 30px;
        @include adaptiveValue("gap", 30 , 15, 1366, 992, 1 );
        @media (max-width:$tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__info {

    }

    &__info-title {
        font-weight: 700;
        @include adaptiveValue("font-size",24 , 18, 1366, 1024, 1 );
        margin-bottom: 18px;
    }

    &__info-fuel {
        font-size: 18px;
        @include adaptiveValue("font-size",18 , 16, 1366, 1024, 1 );
        margin-bottom: 8px;
    }

    &__info-place {
        margin-bottom: 8px;
    }

    &__info-price {
        margin-bottom: 8px;
    }

    &__info-information {
        margin-bottom: 18px;
        color: #D10000;
        font-weight: 700;
    }

    &__info-book {
        padding: 6px 68px;
        @include adaptiveValue("padding-right",68 , 30, 1366, 1024, 1 );
        @include adaptiveValue("padding-left",68 , 30, 1366, 1024, 1 );

    }
}

//====================================================================================================
